@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body,
h1 {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--light-color);
    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-columns: 18rem 1fr;
}

:root {
    --dark-color: #002447;
    --light-color: #FFFFFF;
    --main-color: #FEB249;
    --light-grey: #EEEEEE;
    --medium-grey: #BBBBBB;
    --dark-grey: #888888;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    background: var(--dark-color);
    color: white;
    padding: 0 20px;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.material-icons-round.md-36 {
    font-size: 36px;
    cursor: pointer;
}

h1 {
    padding: 10px;
}

img {
    height: 25px;
    width: auto;
}

nav {
    background-color: var(--medium-grey);
    grid-row: 2/-1;
    grid-column: 1/2;
}

main {
    background: var(--dark-grey);
    grid-row: 2/-1;
    grid-column: 2/-1;
}

.stretch {
    grid-column: 1/-1;
}