@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body,
h1,
h2,
h3,
p,
ul,
li,
[type="checkbox"] {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--light-color);
    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-columns: 18rem 1fr;
}

:root {
    --dark-color: #084C61;
    --light-color: #FFFFFF;
    --main-color: #FEB249;
    --light-grey: #EEEEEE;
    --medium-grey: #BBBBBB;
    --dark-grey: #888888;
    --secondary-color: #D62828;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    background: var(--dark-color);
    color: var(--light-color);
    padding: 0 20px;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.material-icons-round.md-36 {
    font-size: 36px;
}

h1 {
    padding: 10px;
}

body.collapse nav {
    transform: translateX(-100%);
}

body.collapse main {
    grid-column: 1/-1;
}

nav {
    background-color: var(--light-grey);
    grid-row: 2/-1;
    grid-column: 1/2;
    padding: 25px;
}

#home h2,
#projects h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--dark-grey);
}

.tab {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 5px;
}

#projects {
    margin-top: 40px;
}

.tab:hover,
.selected {
    background: var(--medium-grey);
    border-radius: 10px;
}

ul {
    list-style: none;
}

.material-icons-round.md-36,
.tab,
button,
.close-button,
.main-div > .material-icons-round,
.completed {
    cursor: pointer;
}

/* Tab Pages */
main {
    background: var(--light-color);
    grid-row: 2/-1;
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    overflow: auto;
}

main h2 {
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    background-color: var(--light-grey);
}

.task-container {
    margin-top: 15px;
}

/* Project Tab */
.delete{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.delete span {
    visibility: hidden;
}

.delete:hover span {
    visibility: visible;
}

/* Modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.close-button {
    float: right;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}

.close-button:hover {
    color: black;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Modal Form */
form input, select, textarea {
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-radius: 0.5rem;

    width: 100%;
    border: 1px solid var(--medium-grey);
    font-size: inherit;
}
   
form input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 5px var(--main-color);
    border: 1px solid var(--main-color);
}

input, textarea, select, button {
    font-family: inherit;
}

select {
    background: none;
}

form div {
    margin-top: 10px;
}

form h2 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--dark-grey);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 10px 10px;
    border-radius: 0.5rem;
}

button[type='submit'] {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 1px solid var(--dark-color);
}

button[type='button'] {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--light-color);
}

/* Individual Task */
.task-div {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-div {
    display: flex;
    align-items: center;
}

.main-div > * ~ * {
    margin-left: 10px;
}

.task-container div ~ div {
    margin-top: 10px;
}

.details-div {
    padding-top: 10px;
    justify-content: space-around;
}

.details-div > span {
    flex: 1;
}

.details-div h3 {
    font-weight: bold;
    font-size: inherit;
    border-bottom: 1px dotted var(--medium-grey);
    padding-bottom: 5px;
    text-transform: capitalize;

}

.details-div p {
    margin-top: 5px;
}

.details-btn:hover,
.details-selected {
    color: green;
}

.edit-btn:hover {
    color: var(--main-color);
}

.delete-btn:hover {
    color: var(--secondary-color);
}

.task-div > * {
    margin-left: 10px;
}

.title {
    margin-right: auto;
}

.dueDate {
    padding:5px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
}
